<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista Trabajadores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/inventario}">Inventario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/marca}">Marcas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tipo}">Tipos de Equipo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/sede/listar}">Sedes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/trabajador/listar}">Trabajadores</a>
            </li>
        </ul>
    </nav>

    <h2 class="pb-2 pt-2 border-bottom">Lista de Trabajadores</h2>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/trabajador/newform}">Nuevo Trabajador</a>

    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '0')}">
        <strong>Trabajador agregado exitosamente</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '1')}">
        <strong>Trabajador actualizado exitosamente</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '2')}">
        <strong>Trabajador borrado exitosamente</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '-1')}">
        <strong>Ocurrio un error al momento de querer editar</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '-2')}">
        <strong>Ocurrio un error al momento de querer borrar</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>



    <table class="table table-sm">
        <tr>
            <th>#</th>
            <th>DNI del trabajador</th>
            <th>Correo del trabajador</th>
            <th>Nombre del trabajador</th>
            <th>Apellidos del trabajador</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="trabajador,i : ${trabajadorList}">
            <td th:text="${i.index + 1}"></td>
            <td th:text="${trabajador.id}"></td>
            <td th:text="${trabajador.correo}"></td>
            <td th:text="${trabajador.nombres}"></td>
            <td th:text="${trabajador.apellidos}"></td>
            <td><a class="btn btn-primary" th:href="@{'/trabajador/editar?id=' + ${trabajador.id}}">Editar</a></td>
            <td><a class="btn btn-danger" th:href="@{'/trabajador/borrar?id=' + ${trabajador.id}}">Borrar</a></td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>